

body {
    background-color: #a3a3a3a8;
}

.sidebar {
    background-color: rgba(177, 177, 174, 0.725);
}

.slide-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer,
.btn-outline-primary {
    background-color: #212529!important;
}

footer p {
    color: white;
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}
